
/*
 * [ Layout > Grid ]
 */

// -----------------------------------------------------------------------------

.container {
  max-width: $container-max-width;
  padding: 0 $container-gutter;
  margin: 0 auto;
}
